* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    display: grid;
    grid: auto / 300px auto;
    width: 100%;
    height: 100%;
    background: #f00;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --script-name-height: 30px;
}

.hintBox {
    margin: 0 8px;
    padding: 0 16px;
    border-radius: var(--script-name-height);
    display: none;
    place-items: center;
    background: #0002;
}

#scriptName {
    display: flex;
    flex-direction: row;
    height: var(--script-name-height);
}

#scriptName input {
    font-size: 24px;
    background: #0000;
    height: var(--script-name-height);
}

#scriptText[noval]::after, #scriptName[noval]::after {
    --alert-size: 10px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f00 !important;
    display: inline-block;
    position: relative;
    left: 5px;
    top: calc((var(--script-name-height) - var(--alert-size)) / 2);
}

#sidebar {
    background: #0000;
}

#addScreenBtn {
    background: #0d0;
    padding: 10px;
}

#scriptinput {
    background: #fff;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

#fileinput {
    display: block;
    padding: 50px;
    background: #f80;
}

#scriptName input:focus {
    outline: 0;
}

#removeScript {
    display: none;
    padding: 10px 50px;
    background: #f00;
}

#removeScript input {
    display: none;
}

#uploadScript {
    display: inline-block;
    padding: 10px 50px;
    background: #0ff;
}

#uploadScript input {
    display: none;
}