* {
    border: 0;
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    grid: auto / 300px auto;
    width: 100%;
    height: 100%;
    background: #f00;
}

#sidebar {
    background: #0000;
}

#scriptinput {
    background: #888;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

#fileinput {
    display: block;
    padding: 50px;
    background: #f80;
}

#scriptName {
    font-size: 24px;
    background: #0000;
    height: 30px;
}

#scriptName:focus {
    outline: 0;
}