@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#typo {
    font: 700 13px Roboto, sans-serif;
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#typo_appbar {
    --appbar-height: 30px;
    display: flex;
    flex-direction: row;
    border: 0;
    margin: 8px 0;
    padding: 0;
}

#typo_input {
    height: var(--appbar-height);
    width: 350px;
    display: flex;
    justify-content: center;
    border-radius: var(--appbar-height) var(--appbar-height);
    border: 0;
    margin: 0;
    background: #fff8;
    box-shadow: 0 1px 2px 1px #0002;
    backdrop-filter: blur(50px);
}

#typo_input_elem {
    width: calc(350px - var(--appbar-height));
    margin: 0;
    padding: 0;
    border: 0;
    background: #0000;
}

#typo_input_elem:focus {
    outline: 0;
}

#typo_options {
    background: #000;
    height: var(--appbar-height);
    width: var(--appbar-height);
    display: grid;
    place-items: center;
    border: 0;
    margin: 0 0 0 8px;
    padding: 0;
    border-radius: var(--appbar-height);
    background: #fff8;
    box-shadow: 0 1px 2px 1px #0002;
    backdrop-filter: blur(50px);
}

#typo_options_icon {
    height: 24px;
    width: 24px;
    fill: #0005;
}

#typo_scriptlist {
    margin: 0;
    padding: 16px 24px;
    border: 0;
    width: 30vw;
    background: #fff8;
    backdrop-filter: blur(50px);
    box-shadow: 0 1px 2px 1px #0002;
    border-radius: 15px;
}

.typo_scriptlist_script {
    --script-height: 16px;
    padding: 2px calc(var(--script-height) / 2 + 4px);
    height: var(--script-height);
    border-radius: 6px;
    box-sizing: content-box;
}

.focused {
    background: #1114;
}