head
    title Typo Options
    link(rel="stylesheet", href="../options.css")
body
    #app
        #sidebar
            #const-btns
                #add-script-btn +__add
            #script-list
        #script-page
            .name
                span#scriptName(noval='')
                    input(placeholder="name")
                .hintBox uwu
            #script-input
                //- label#file-upload
                //-     input(type="file")
                #scriptText(noval='' contenteditable)
            label#uploadScript
                input(type="button")
                | upload
            label#removeScript
                input(type="button")
                | remove