html
    head
        title Typo Options
        link(rel="stylesheet", href="../options.css")
    body
        #app
            #sidebar
            #scriptinput
                input#scriptName(placeholder="name")
                label#fileinput
                    input(type="file")
                    #scriptText
    script(src="../options.js")