head
    title Typo Options
    link(rel="stylesheet", href="../options.css")
body
    #app
        #sidebar
            #const-btns
                #add-script-btn +__add
            #script-list
        #script-page
            .name
                span#scriptName(noval='')
                    input(placeholder="name")
                .hintBox uwu
            #script-input
                #scriptText(noval='' contenteditable)
                .input-sidebar
                    - var sidebarbtns = [["file-upload", "../file_import_icon.svg", "file"],["uploadScript", "../add.svg", "button"],["removeScript", "../remove.svg", "button"]]
                    each elem in sidebarbtns
                        label.input-sidebar-button(id=`${elem[0]}`, title=`${elem[0]}`)
                            img(src=`${elem[1]}`, alt="")
                            input(type=`${elem[2]}`)

            //- #script-input
            //-     //- label#file-upload
            //-     //-     input(type="file")
            //-     #scriptText(noval='' contenteditable)

            //- label#uploadScript
            //-     input(type="button")
            //-     | upload
            //- label#removeScript
            //-     input(type="button")
            //-     | removerelload
            