html
    head
        title Typo Options
        link(rel="stylesheet", href="../options.css")
    body
        #app
            #sidebar
                #constBtns
                    #addScreenBtn +__add
                #scriptList
            #scriptinput
                #name
                    span#scriptName(noval='')
                        input(placeholder="name")
                    .hintBox uwu
                label#fileinput
                    input(type="file")
                    #scriptText(noval='')
                //- label#checkIsCorect
                    //- button check
                label#uploadScript
                    input(type="button")
                    | upload
                label#removeScript
                    //- dead for now
                    input(type="button")
                    | remove
    script(src="./options.js")